.additional-product {
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: $title-fontstack;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 16px;
    color: #222222;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  &__table-data {
    display: flex;
    justify-content: space-between;
  }
}
