.additional-product {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 11px;

    color: #222222;
    font-weight: normal;
    font-size: 16px;
    font-family: $title-fontstack;
    line-height: 16px;
    text-align-last: left;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-right: auto;

      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 13px;

    border-collapse: collapse;

    @media (min-width: $tablet-width) {
      display: flex;
      margin-bottom: 17px;
    }

    @media (min-width: $desktop-width) {
      align-items: center;
      width: 612px;
      margin-bottom: 0;
    }
  }

  &__table &__title,
  &__table tbody {
    display: block;
  }

  &__table-key,
  &__table-value {
    display: block;
    padding: 0;
  }

  &__table-value {
    @media (min-width: $tablet-width) {
      width: 92px;

      text-align: right;
    }
  }

  &__table-key {
    @media (min-width: $desktop-width) {
      width: 220px;
    }
  }

  &__table-data {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      padding-top: 3px;
    }
  }

  &__button {
    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }
}
