.catalog {
  margin-bottom: 26px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
  }

  &__title {
    @include title-style;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 86px;

      font-size: 60px;
      text-align: left;
    }
  }

  &__list {
    @include reset;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;

    border-bottom: 1px solid $gray-color;

    @media (min-width: $tablet-width) {
      display: flex;
      width: 50%;
      min-height: 430px;
      margin: 0;
      margin-top: 78px;
      margin-bottom: 37px;
      padding-right: 30px;
      padding-left: 30px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      width: 25%;
      margin-bottom: 40px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__load {
    margin: 0 auto;
    padding-top: 79px;

    text-align: center;

    @media (min-width: $tablet-width) {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // box-sizing: border-box;
      // max-width: 100%;
      padding: 38px;
      padding-top: 164px;
      padding-bottom: 40px;

      border: 1px solid #e6e6e6;
    }
  }

  &__load-more-link {
    position: relative;

    display: block;

    color: $title-color;
    font-size: 16px;
    font-family: $title-fontstack;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 28px;
      padding: 0 35px;

      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }

    &::before {
      position: absolute;
      bottom: 43px;
      left: 50%;

      display: block;
      width: 30px;
      height: 30px;

      background: url("../../img/icon-plus-mobile.svg") no-repeat center center;
      transform: translateX(-15px);
      opacity: 0.2;

      content: "";

      @media (min-width: $tablet-width) {
        bottom: 89px;

        width: 60px;
        height: 60px;

        background-image: url("../../img/icon-plus.svg");

        transform: translateX(-30px);
      }
    }
  }

  &__load-text {
    margin-top: 8px;
    margin-bottom: 21px;

    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 85px;
      padding: 0 35px;

      font-size: 16px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__load-all {
    color: $body-text-color;

    background-color: $gray-color;

    &:hover {
      background-color: $gray-color-dark;
    }

    &:active {
      color: rgba(65, 55, 55, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}
