.form {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }

  &__fieldset {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    border: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 59px;
    }
  }

  &__fieldset--additions {
    margin-bottom: 23px;
  }

  &__fieldset--inner {
    @media (min-width: $tablet-width) {
      width: $tablet-width;

      margin: 0 auto;
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      width: $desktop-width;
      padding: 0 40px;
    }
  }

  &__container-inner {
    margin-bottom: 23px;
    padding-top: 25px;

    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
      margin-bottom: 72px;
      padding: 0;
      padding-top: 30px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 570px;
      // min-height: 196px;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__container-inner--bordered {
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 8px;

    border: 1px solid $gray-color-dark;

    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
      padding: 24px 29px 12px;
    }

    @media (min-width: $desktop-width) {
      // min-height: 194px;
      margin-bottom: 0;
      padding-top: 23px;
      padding-bottom: 30px;
      padding-left: 26px;
    }
  }

  &__container {
    @media (min-width: $tablet-width) {
      padding-right: 67px;
      padding-left: 70px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
    }
  }

  &__text {
    padding-right: 30px;

    color: #111111;
    font-weight: 400;
    font-family: $title-fontstack;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
      padding-right: 300px;
      padding-left: 40px;

      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;

      padding-right: 850px;
      padding-left: 0;
    }
  }

  &__button {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      width: 284px;
      padding: 15px 0;

      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
    }
  }

  &__footnote {
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 285px;
      margin: 0;
      margin-top: 12px;

      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
    }
  }

  &__field {
    position: relative;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }

  &__container-inner--bordered &__field {
    margin-bottom: 13px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__legend {
    position: relative;

    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      margin-bottom: 68px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 74px;
    }

    &::after {
      position: absolute;
      top: 14px;
      z-index: -1;

      display: block;
      width: 100%;
      height: 3px;

      background-color: $accent-color;

      content: "";

      @media (min-width: $tablet-width) {
        top: 28px;
      }
    }
  }

  &__legend-container {
    display: flex;
    padding-left: 0;

    @media (min-width: $tablet-width) {
      padding-left: 30px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }

  &__legend-text {
    margin: 0;
    padding-right: 15px;
    padding-left: 20px;

    font-size: 24px;
    font-family: $title-fontstack;
    line-height: 24px;

    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      padding-right: 40px;
      padding-left: 40px;

      font-size: 36px;
      line-height: 46px;
    }
  }

  &__legend-text br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__fieldset--additions &__legend {
    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
    }
  }

  &__input-radio,
  &__input-checkbox {
    display: none;
  }

  &__label {
    margin-right: 15px;

    font-size: 16px;
    font-family: $title-fontstack;
    white-space: nowrap;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-right: 20px;

      font-size: 20px;
      line-height: 20px;
    }

    &--radio,
    &--checkbox {
      position: relative;

      display: flex;
      align-items: center;

      &:hover::before {
        border: 1px solid #bababa;
      }

      &:active {
        opacity: 0.3;
      }

      &::before {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 16px;

        border: 1px solid #cdcdcd;

        content: "";

        @media (min-width: $tablet-width) {
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }
      }
    }

    &--radio {
      &::before {
        border-radius: 50%;
      }
    }
  }

  &__input-radio:checked + &__label--radio::after,
  &__input-checkbox:checked + &__label--checkbox::after {
    position: absolute;
    top: 9px;
    left: 9px;

    display: block;
    width: 12px;
    height: 12px;

    background-color: $accent-color;
    border-radius: 50%;

    content: "";

    @media (min-width: $tablet-width) {
      top: 11px;
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }

  &__input-checkbox:checked + &__label--checkbox::after {
    left: 5px;

    width: 21px;
    height: 16px;

    background: url("../../img/icon-tick.svg");

    border-radius: 0;

    @media (min-width: $tablet-width) {
      left: 10px;
    }
  }

  &__input {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;

    font-size: 16px;
    font-family: $title-fontstack;
    text-transform: uppercase;

    border: 1px solid #ebebeb;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 1px solid #444444;
      outline: none;
    }

    &:invalid {
      border: 1px solid $error-color;
    }

    @media (min-width: $tablet-width) {
      padding: 16px;
      padding-top: 14px;
      padding-bottom: 14px;

      font-size: 20px;
    }
  }

  &__field--email,
  &__field--phone {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 570px;
      margin: 0;
    }

    &::after {
      position: absolute;

      display: block;

      background-repeat: no-repeat;

      background-position: center center;

      content: "";
    }

    & .form__label {
      margin-right: 10px;

      @media (min-width: $tablet-width) {
        margin-right: 20px;
      }
    }
  }

  &__input-icon {
    position: absolute;

    top: 19px;
    right: 17px;

    color: #222222;
  }

  &__input:focus + &__input-icon {
    color: $accent-color;
  }

  &__input:invalid + &__input-icon {
    color: $error-color;
  }

  &__field--phone {
    margin-top: 20px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 148px;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 14px;

    font-size: 16px;
    font-family: $title-fontstack;
    text-transform: uppercase;

    border: 1px solid $gray-color-dark;

    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 172px;
      padding-top: 12px;
      padding-left: 18px;

      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      min-height: 172px;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__additions {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
    }
  }

  &__additions &__field {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 7px;
    }

    @media (min-width: $tablet-width) {
      width: 286px;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &__submit {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}
