@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title-style {
  margin: 0;
  font-family: $title-fontstack;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $title-color;
}
