.page-main {
  &__section {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
    }
  }

  &__section:last-child {
    margin-bottom: 0;
  }
}
