.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 165px;
    background-color: $gray-color;
    margin: 0;
    width: 100%;
  }

  &__image {
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 100%;
      transform: translateY(90px);
      height: 200px;
    }
  }

  &__info {
    width: 50%;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &__title {
    font-family: $title-fontstack;
    color: $title-color;
    line-height: 18px;
    margin: 0;
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 130px;
      text-align: center;
      padding: 0;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;
    }
  }

  &__table {
    border-collapse: collapse;
    display: block;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      width: 100%;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 33px;
    }
  }

  &__table tbody {
    display: block;
  }

  &__data {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding: 10px 0;
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &__button {
    width: 100%;
  }
}
