.selection {
  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  &__title {
    @include title_style;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 50px;
    }
  }
}
