.social {
  display: flex;
  justify-content: space-between;

  list-style: none;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;

    color: #666666;

    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      color: $accent-color;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 28px;
    }
  }

  &__icon {
    color: inherit;

    &--vk {
      @media (min-width: $tablet-width) {
        width: 30px;
        height: 30px;
      }
    }

    &--insta {
      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }

    &--fb {
      @media (min-width: $desktop-width) {
        width: 14px;
      }
    }
  }
}
