.table {
  display: block;
  margin-bottom: 30px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    display: table;
  }

  & tbody {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      width: 366px;
      margin-right: auto;
    }
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;
    width: 44%;

    @media (min-width: $tablet-width) {
      width: 163px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 28px;
    }
  }

  &__key {
    z-index: 2;

    display: block;

    align-self: center;
    width: 68%;
    margin-top: -10px;
    padding: 0 14px;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: lowercase;

    background-color: $gray-color;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-top: -7px;
      padding: 0 10px;

      font-size: 14px;

      background-color: #ffffff;
    }

    @media (min-width: $desktop-width) {
      background-color: $gray-color;
    }
  }

  &__value {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 21px;

    color: $title-color;
    font-size: 24px;
    font-family: $title-fontstack;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid #cdcdcd;
    border-radius: 3px;

    @media (min-width: $tablet-width) {
      padding-top: 22px;
      padding-bottom: 23px;

      font-size: 30px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    font-family: $title-fontstack;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      display: initial;
    }
  }

  &__footer tr {
    display: flex;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  &__footer td {
    display: block;

    @media (min-width: $tablet-width) {
      padding-top: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 60px;
    }
  }
}
